* {
  box-sizing: border-box;
}

.App {
  text-align: left;
}

.filterMenu {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: solid 2px grey;
  border-radius: 3px;
  padding: 10px;
  column-gap: 20px;
}

.container {
  padding: 10px;
  margin: 10px;
}

.btn {
  background-color: blue;
  color: white;
  border: solid 2px grey;
  border-radius: 3px;
}

.btn:active {
  background-color: lightblue;
}